.container {
            display: block;
            width: 600px;
            height: 600px;
            margin: 0 auto;
        }
        .box {
            word-wrap: break-word;
        }
        .box-left {
            float:left;
            width: 280px;
            padding-right: 5px;
        }
        .box-right {
            float:right;
            width: 280px;
        }
        .input0 {
            width: 100px;
        }